/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #212732;
}

main.main-box{
  font-family: 'Manrope', sans-serif;
  text-align: center;
  max-width: 465px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #313A4A;
  border-radius: 10px;
  color: white;
  .title{
    color: #4BD293;
    font-weight: 200;
    font-size: 12px;
    margin: 10px 0;
  }
  .text{
    font-size: 28px;
    color: #D1E7EE;
    font-weight: 400;
    font-size: 28px;
    margin: 20px 0;
  }
  img{
    color: red;
    width: 400px;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}