/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap');

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$button-color: #52FFAB;
$dark-blue: #212732;
$gray-blue: #313A4A;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $dark-blue;
  font-family: 'Manrope', sans-serif;
}

main.main-box{
  text-align: center;
  max-width: 465px;
  @include center;
  padding: 20px;
  border-radius: 10px;
  background-color: $gray-blue;
  box-shadow: 0px 0px 25px #1F2832;
  .title{
    font-weight: 200;
    font-size: 12px;
    color: $button-color;
    margin: 10px 0;
  }
  .text{
    font-size: 28px;
    font-weight: 400;
    font-size: 28px;
    color: #D1E7EE;
    margin: 20px 0;
  }
  img{
    color: red;
    width: 400px;
  }
  .icon{
    background-color: $button-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,0);
    img{
      @include center;
      width: 20px;
    }
  }
  .icon:hover{
    box-shadow: 0px 0px 25px $button-color;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}